/* DataEntry container */
.data-entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Styling for the header */
  .data-entry-header {
    margin-top: 180px;

    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem; /* גודל הטקסט */
    font-weight: bold; /* עושה את הטקסט בולט */
    color: #4d3dfa; /* צבע צהוב כהה */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* הוספת צל לטקסט */
  }
  
  
  /* Wrapper for the circles */
  .data-entry-circle-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
  }
  
  /* Individual circle styling with background image */
  /* Individual circle styling with background image */
  .data-entry-circle {
    width: 150px;  /* Increased size */
    height: 150px;  /* Increased size */
    border-radius: 50%;
    background-size: cover;  /* התמונה תכסה את כל העיגול */
    background-position: center center;  /* ממקם את התמונה במרכז */
    background-repeat: no-repeat;  /* מונע חזרה של התמונה */
    overflow: hidden; /* מוודא שהתמונה לא תחרוג מהעיגול */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transition for smooth effect */
  }

/* Hover effect to enlarge and brighten the circle */
.data-entry-circle:hover {
  transform: scale(1.1); /* Increase size */
  filter: brightness(1.2); /* Make image brighter */
}

  /* Button styling */
  .data-entry-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;  /* Margin to separate button from previous content */
  }
  
  .data-entry-button:hover {
    background-color: #45a049;
  }
  
  /* Styling for the test groups */
  .data-entry-test-group-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .data-entry-test-group-ul {
    list-style-type: none;
    padding: 0;
  }
  
  .data-entry-test-group-li {
    margin: 5px 0;
  }
  
  /* Styling for AddTestForm and AddStudentForm */
  .data-entry-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  /* הוספת position: absolute לקומפוננטות ה-Form */
